@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headerContainer{
    z-index: 2;
    flex: auto;
    background-color: white;
    box-shadow: 0 0 30px 1px #00000011;
}

.bodyContainer{
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    /* position: relative;
    z-index: 1; */
}

.delivery{
    font-family: 'Gayathri', sans-serif;
}

.app-img{
    width: 60%;
    margin-bottom: 80px;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 22px;
}

.header-logo-div{
    padding: 0 0;
}

.header-logo{
    height: 30px;
}

.navLinks{
    display:none;
    padding-left: 20px;
    font-size: 14px;
}

.navLink-div{
    padding: 0px 20px;
    cursor: pointer;
    border: 2px solid transparent;
}

.navLink-div-selected{
    padding: 22px 20px;
    cursor: pointer;
    border: 2px solid transparent;
    border-bottom: 2px solid #0063FF;
}

.navLink{
    text-decoration: none;
    color: #031B4F;
    font-weight: 500;
}


.hero-div{
    text-align: center;
    padding: 60px 30px;
    background-image: url('../img/circuits-blue-red-gradient-digital-background_23-2148821701 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0063FF;
    color: white;
}

.hero-div h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}

.hero-div h4{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
}

.hero-div p{

}

.banner-div{
    text-align: left;
    padding: 60px 20px;
    background-color: #F3F5F9;
    color: #031B4E;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
}

.banner-div h1{
    margin-bottom: 10px;
    font-size: 50px;
}

.banner-div h4{
    margin-bottom: 20px;
}

.banner-div p{
    font-size: 20px;
    color: #5B6987;
}


.careers{
    padding: 20px;
    background-image: url('../img/bg.svg');
    color: #031B4E;
}

.careers h1{
    margin-bottom: 5px;
    font-size: 19px;
    color: #031B4E;
}

.careers p{
    color: #5B6987;
    margin-bottom: 40px;
    line-height: 24px;
    font-weight: 400;
}



.vision-mission{
    padding: 20px 20px 0 20px;
    background-image: url('../img/bg.svg');
    color: #031B4E;
}

.vision-mission-tabs{
    flex: auto;
    font-weight: 500;
    display: flex;
}

.spacing{
    flex: 1;
}

.vision-mission-tab{
    cursor: pointer;
    padding: 15px 10px;
    color: #637292;
    border-bottom: 3px solid #e0e0e0;
}

.vision-mission-tab:hover{
    color: #031B4E;
    border-bottom: 3px solid #0063FF;
}

.vision-mission-tab-selected{
    color: #031B4E;
    border-bottom: 3px solid #0063FF;
}

.vision{
    padding: 60px 0 20px 0;
}

.vision h1{
    margin-bottom: 20px;
    font-size: 19px;
    color: #031B4E;
}

.vision p{
    color: #5B6987;
    margin-bottom: 80px;
    line-height: 24px;
    font-weight: 400;
}

.products-div{
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
    color: #031B4E;
}

.products-div h1{
    margin-bottom: 20px;
}

.products-div p{
    font-size: 20px;
    color: #5B6987;
    margin-bottom: 80px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.products-col{
    text-align: left;
    border-radius: 6px;
    border: 1px solid #efefef;
    padding: 30px 20px 40px 20px;
    background-color: white;
    box-shadow: 0 0 1px 2px #cdcdcd22;
    transition: .5s box-shadow;
}

.products-col-img{
    height: 60px;
    margin-bottom: 20px;
}

.products-col h1{
    font-size: 19px;
    margin-bottom: 20px;
    color: #031B4E;
}


.products-col h4{
    color: #5B6987;
    line-height: 24px;
    font-weight: 400;
}

.products-col:hover{
    box-shadow: 0 0 30px 1px #cdcdcd99;
    transition: .5s box-shadow;
}

.read-more{
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #dfdfdf;
    color: #dfdfdf;
    margin-top: 50px;
    padding: 15px 30px;
    cursor: pointer;
}

.read-more:hover{
    border: 1px solid #fff;
    color: #fff;
}

.why-col{
    text-align: center;
}

.why-col h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.projects-col-img-div{
    margin: -30px -20px 0 -20px;
    height: 250px;
    margin-bottom: 20px; 
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.projects-col-img{
    object-fit: cover;
    height: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 100%;
}

.more-works-a{
    text-decoration: none;
}

.more-works{
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #5B6987;
    color: #5B6987;
    margin-top: 50px;
    padding: 15px 30px;
}

.more-works:hover{
    border: 1px solid #031B4E;
    color: #031B4E;
}

.view-more{
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #5B6987;
    color: #5B6987;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 15px 30px;
}

.view-more:hover{
    border: 1px solid #031B4E;
    color: #031B4E;
}

.testimonials{
    position: relative;
    text-align: center;
    padding: 60px 20px;
    background-color: #F3F5F9;
    color: #031B4E;
}

.testimonials h1{
    margin-bottom: 20px;
}

.testimonials p{
    font-size: 20px;
    color: #031B4F;
    line-height: 35px;
    padding: 80px 0px;
}


.testimonial{
    margin: 0;
    text-align: center;
}

.testimonial h4{
    font-size: 16px;
    font-weight: 400;
    color: #5B6987;
}

.testimonial h5{
    font-size: 13px;
    font-weight: 400;
    color: #5B6987;
}

.leftarrow,
.rightarrow{
    padding: 0;
    cursor: pointer;
    top:48%;
    position: absolute;
    color: #5B6987;
    font-weight: 900;
    font-size: 14px;
}

.leftarrow{
    left: 50px;
}

.rightarrow{
    right: 50px;
}

#counter{
    margin-top: 20px;
}


.contact-div{
    padding: 60px 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #010E28;
    color: #fff;
    column-gap: 20px;
    row-gap: 20px;
}

.contact-div h1{
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-div p{
    font-size: 16px;
    color: rgb(231, 231, 231);
    line-height: 24px;
}

.social-icon{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.social-icon:hover{
    color: rosybrown;
}

.mobileview{display: block;}
.webview{display: none;}



.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 10;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .closebtn{
      cursor: pointer;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }




  
.blogs{
    padding: 60px 20px 10px 20px;
}

.blog h1{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #031B4E;
}

.blog-author{
    margin: 30px 0 60px 0;
}

.blog-content{
    color: #2f2f30;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
}

  #contentUi {
    display: none;
  }
  #contentFire {
    display: none;
  }
  #contentXam {
    display: none;
  }
  #contentMar {
    display: none;
  }
  #contentPsy {
    display: none;
  }
  #contentDja {
    display: none;
  }

  .read-more-text{
      color: blue;
      cursor: pointer;
      margin-bottom: 20px;
  }


  
.career-div{
    text-align: center;
    padding: 60px 30px;
    background-image: url('../img/career1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: #0063FF;
    color: white;
}

.career-div h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}

.career-div h4{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
}

.career-div p{

}

@media (min-width:600px) {
    .products-grid{grid-template-columns: repeat(2, 1fr);}
}


@media (min-width:800px) {
    .hero-div{padding: 80px 100px;}
    .banner-div{grid-template-columns: repeat(2, 1fr);}
    .projects-grid{grid-template-columns: repeat(2, 1fr);}
    .contact-div{grid-template-columns: repeat(2, 1fr);}
    .career-div{padding: 80px 100px;}
}

@media (min-width:1000px) {
    .navLinks{display: flex;}
    .vision-mission{padding: 50px 100px 0 100px;}
    .careers{padding: 50px 330px}
    .products-grid{grid-template-columns: repeat(3, 1fr);}
    .testimonials{padding: 100px 180px;}
    .mobileview{display: none;}
    .webview{display: block;}
    .blog{padding: 0 100px 50px 100px;}
}

@media (min-width:1300px) {
    .hero-div{padding: 120px 400px;}
    .vision-mission{padding: 50px 180px 0 180px;}
    .careers{padding: 50px 500px}
    .products-div{padding: 100px 180px;}
    .banner-div{padding: 100px 180px;}
    .products-grid{grid-template-columns: repeat(3, 1fr);}
    .contact-div{padding: 100px 180px;}
    .testimonial{padding: 0 100px;}
    .blog{padding: 0 180px 50px 180px;}
    .career-div{padding: 120px 400px;}
}

@media (min-width:1500px) {
    .products-grid{grid-template-columns: repeat(4, 1fr);}
}